In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
# Read in voting data from the primaries
path = '../../data/primary_data/primary_results.csv'
primary = pd.read_csv(path)
primary.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [23]:
# Read in county data from the government census
path = '../../data/primary_data/county_facts.csv'
county = pd.read_csv(path)
county.tail()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
3190,56037,Sweetwater County,WY,45010,43806,2.7,43806,7.3,27.0,9.5,...,3.8,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3191,56039,Teton County,WY,22930,21294,7.7,21294,5.7,19.1,12.2,...,3.3,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3192,56041,Uinta County,WY,20904,21118,-1.0,21118,7.6,29.8,11.0,...,2.2,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3193,56043,Washakie County,WY,8322,8533,-2.5,8533,5.5,23.9,20.1,...,0.0,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3194,56045,Weston County,WY,7201,7208,-0.1,7208,6.5,21.6,18.1,...,0.0,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

In [24]:
# Read in the mapping from column name to description
path = '../../data/primary_data/county_facts_dictionary.csv'
county_dict = pd.read_csv(path)
county_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [25]:
# Merge the voting data and county data on the common key -- 'fips'
df = pd.merge(primary, county, how='inner', on='fips')
df.head()

,state,state_abbreviation_x,county,fips,party,candidate,votes,fraction_votes,area_name,state_abbreviation_y,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,AL,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,AL,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
2,Alabama,AL,Autauga,1001,Republican,Ben Carson,1764,0.146,Autauga County,AL,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,Alabama,AL,Autauga,1001,Republican,Donald Trump,5387,0.445,Autauga County,AL,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,Alabama,AL,Autauga,1001,Republican,John Kasich,421,0.035,Autauga County,AL,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [26]:
# Clean up the data by removing and renaming duplicate columns
df.drop(labels='state_abbreviation_y', axis=1, inplace=True)
df.rename(columns={'state_abbreviation_x': 'state_abbreviation'}, inplace=True)
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,area_name,PST045214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,55395,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,55395,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
2,Alabama,AL,Autauga,1001,Republican,Ben Carson,1764,0.146,Autauga County,55395,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,Alabama,AL,Autauga,1001,Republican,Donald Trump,5387,0.445,Autauga County,55395,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
4,Alabama,AL,Autauga,1001,Republican,John Kasich,421,0.035,Autauga County,55395,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8

In [27]:
# Use the 'column_name' column as the index of the county_dict dataframe
county_dict.set_index('column_name', inplace=True)
county_dict.loc['MAN450207']

description    Manufacturers shipments, 2007 ($1,000)
Name: MAN450207, dtype: object

Let's figure out which candidate for each party received the most votes in each county.

In [28]:
# First, get the max number of votes for a candidate per county / party combination
max_votes = df.groupby(['fips', 'county', 'state', 'party']).votes.max().reset_index()
max_votes.head()

     fips   county    state       party  votes
0  1001.0  Autauga  Alabama    Democrat   2387
1  1001.0  Autauga  Alabama  Republican   5387
2  1003.0  Baldwin  Alabama    Democrat   5290
3  1003.0  Baldwin  Alabama  Republican  23618
4  1005.0  Barbour  Alabama    Democrat   2567

In [29]:
# Second, create a smaller dataframe with just the data we want to analyze (e.g. income per county)
income = df[['fips', 'county', 'state', 'party', 'candidate', 'votes', 'INC110213']]
income.head()

   fips   county    state       party        candidate  votes  INC110213
0  1001  Autauga  Alabama    Democrat   Bernie Sanders    544      53682
1  1001  Autauga  Alabama    Democrat  Hillary Clinton   2387      53682
2  1001  Autauga  Alabama  Republican       Ben Carson   1764      53682
3  1001  Autauga  Alabama  Republican     Donald Trump   5387      53682
4  1001  Autauga  Alabama  Republican      John Kasich    421      53682

In [31]:
# Finally, merge the data on fips / party / votes to figure out which candidate got the most votes
winner = pd.merge(pop, max_votes, how='inner')
winner.head()

   fips   county    state       party        candidate  votes  INC110213
0  1001  Autauga  Alabama    Democrat  Hillary Clinton   2387      53682
1  1001  Autauga  Alabama  Republican     Donald Trump   5387      53682
2  1003  Baldwin  Alabama    Democrat  Hillary Clinton   5290      50221
3  1003  Baldwin  Alabama  Republican     Donald Trump  23618      50221
4  1005  Barbour  Alabama    Democrat  Hillary Clinton   2567      32911

In [32]:
# Now we can do things like look at the median income in counties that each candidate won
winner.groupby('candidate').INC110213.median()

candidate
Ben Carson         31104.5
Bernie Sanders     44754.5
Donald Trump       42156.0
Hillary Clinton    42279.0
John Kasich        49421.5
Marco Rubio        52735.0
Ted Cruz           44962.0
Name: INC110213, dtype: float64

In [37]:
# We can also find out how many counties each candidate won
winner.groupby('candidate').candidate.count().sort_values(ascending=False)

candidate
Donald Trump       1998
Hillary Clinton    1669
Bernie Sanders     1158
Ted Cruz            621
John Kasich          60
Marco Rubio          41
Ben Carson            2
Name: candidate, dtype: int64